*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #080710;
    overflow: hidden;
}

.background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    /* background-color: #e5e5e5; */
    left: 50%;
    top: 50%;
}

.background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
}

.shape:first-child {
    background: linear-gradient(#1845ad, #23a2f6);
    left: -80px;
    top: -80px;
}

.shape:last-child {
    background: linear-gradient(to bottom, #62aaf3, #0c3f53);
    right: -120px;
    bottom: -80px;
}

.container_input {
    height: 520px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 50px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}

.container_input * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.container_input h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07) !important;
    border-radius: 50px;
    padding: 0 20px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

input:focus {
    border: 1px solid #216bc0;
}

input:valid {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #216bc0;
    box-shadow: inset 0 0 20px 20px #23232329;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-background-clip: text;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    border: 1px solid #216bc0;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
}

::placeholder {
    color: #e5e5e5;

}

.btn_login {
    margin-top: 50px;
    width: 60%;
    text-align: center;
    background-color: rgba(33, 107, 192, 0.9);
    color: #fcfcfc;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 100px;
    cursor: pointer;
    border: 2px solid #fff;
    transition: all 0.3s;
}

.btn_login:hover {
    border: 2px solid #216bc0;
    background-color: #fff;
    color: #216bc0;
    filter: drop-shadow(#67aabb 0.5px 0.5px 3px);
}

.social {
    margin-top: 30px;
    display: flex;
}

.social div {
    background: red;
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    background-color: rgba(255, 255, 255, 0.27);
    color: #eaf0fb;
    text-align: center;
}

.social div:hover {
    background-color: rgba(255, 255, 255, 0.47);
}

.social .fb {
    margin-left: 25px;
}

.social i {
    margin-right: 4px;
}

.btn_1 {
    /* background-color: #1845ad; */
    text-align: center;
}

.image {
    /* background-color: #f09819; */
    text-align: center;
    margin: 0;
    padding: 0;
}

img {
    width: 250px;
    /* background-color: #e5e5e5; */
}

.status {
    /* transform: translate(-50%); */
    margin-top: 15px;
    text-align: center;
    width: 100%;
    position: absolute;
    color: rgb(255, 0, 0);
    font-weight: 800;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 50px;
}

.status:empty {
    border: none;
}

.login_Success,
.login_SuccessHome {
    margin-top: 15px;
    width: 100%;
    color: rgb(0, 255, 0);
    font-weight: 800;
    text-align: center;
    border: 2px solid rgb(0, 255, 0);
    border-radius: 50px;
}

.login_Success,
.login_SuccessHome:empty {
    border: none;
    background-color: transparent;
}

.Message {
    width: 100%;
    margin: auto;
    position: relative;


}

.message_border {
    /* background-color: #f39762; */
    position: absolute;
    left: 80px;
    width: 50%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.h5,
h5 {
    font-size: 1rem;
}

.logout {
    margin-bottom: 130px;
}